body{
    background: rgb(209, 255, 247);
}

#qd{
    background: rgb(225, 182, 249);
}

#score{
margin-right: 1200px;
font-size:large;
}

#timer{
margin-left:1200px;
font-size:large;
}

#object{
    background: deeppink;
    color:rgb(239, 239, 246);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}